@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Righteous&display=swap');
/* background-color: #222222; */

body {
    background-image:url('Imagens/pexels-francesco-ungaro-6020336.jpg');
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Montserrat';
    justify-content: center;
}

div.texto {
    margin: 20px;
    padding-bottom: 200px;
    padding: 50px;
    width: 750px;
    height: 30px;
    border: 10px solid white;
    box-sizing: border-box;
}

div::first-letter {
    font-size: 50px;
    margin-right: 10px;
}

br {
    padding-bottom: 50px;
    margin: 0 auto;
}